<mat-tab-group>
    <mat-tab label="Лабрадор" backgroundColor="yellow">

        <h1>ЛАБРАДОР</h1>
        <p style="
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-size: 20pt;
">Лабрадоры — это крупные, сильные собаки с крепким телосложением и прочным скелетом. <br> У них широкие голова
            и
            нежные, умные глаза. Их хвосты абсолютно уникальны и похожи на хвост выдры.<br> Короткая густая шерсть
            бывает
            однотонного черного, желтого и шоколадного/печеночного.</p>
        <img src="assets/l3.png" alt="" style="width: 900px;">
        <H2>ПЛЮСЫ ВЫЕБЫТЬ ЛОХМАТОГО</H2>
        <ul>
            <li>узкое очко</li>
            <li>ничего не скажет</li>
            <li>будет любить тебя по прежнему после этого</li>
        </ul>
        <H2>МИНУСЫ - </H2>
        <ul>
            <li style="font-size: 26px;">
                хуй в шерсти
            </li>
        </ul>

    </mat-tab>
    <mat-tab label="Мопс">
        <h2>МОПС</h2>
        <p style="font-size: 24px;">Мопс – коренастая собака с крупной яблоковидной головой, крепкой мускулатурой и
            высоко посаженным плотно
            закрученным хвостом. <br>По стандарту FCI допускается 4 окраса: абрикосовый, серебристый, бежевый и черный.
            Причем черные особи до сих пор более редкие, а потому и более дорогие.</p>
        <div style="width: 100%; text-align: center;">

            <img src="assets/mops.png" alt="" style="width: 500px;
">
        </div>

        <H2>ПЛЮСЫ ВЫЕБАТЬ ШКЕТА</H2>
        <ul>
            <li style="font-size: 27px;">напоминает мою любимую</li>
            <li>тихо гавкает</li>
            <li>будет молчать</li>
        </ul>
        <h2>МИНУСЫ - </h2>
        <ul>
            <li style=" font-size: 30px;">
                можно разорвать пополам
            </li>
        </ul>
    </mat-tab>
    <mat-tab label="Выбор шерстяного">
        <mat-spinner style = "margin: 0px 30px 16px;"></mat-spinner>
        <h2 style="margin: 0px 50px 16px;">Имя</h2>
        <input placeholder="Имя" type="text" name="name" style="margin: 0 10px 0px">
        <h2 style="margin: 0px 30px 16px;">Телефон</h2>
        <input type="tel" name="name1" style="margin: 0 10px 0px">
        <h2 style="margin: 0px 35px 16px;">Какую шавку хочешь?</h2>
        <p><input type="radio" name="o" value="Лабрадор">Лабрадор</p>
        <p><input type="radio" name="o" value="Мопс">Мопс</p>
        <h2 style="margin: 0px 30px 16px;">Решение по псам</h2>
        <button type="submit">Отправить</button>
        <button type="reset">Очистить</button>
        
    </mat-tab>
</mat-tab-group>